body {
  font-family: "Montserrat"
}

h1 {
  line-height: 2;
}

p {
  margin-bottom: 4px;
  line-height: 2;
}

#volunteer-title {
  background-color: #293462;
  font-family: "Montserrat";
  color: white;
}


.navbar-custom {
  padding: 1rem 3rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}


/* Form */
#volunteer-form-section {
  padding: 4% 7%;
}

.volunteer-buttons {
  text-align: center;
  padding-top: 3rem;
}
